.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #f5f5f5;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.nav {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 8px 0px;
}
@media (min-width: 320px) {
  .nav {
    display: flex;
  }
}
@media (min-width: 414px) {
  .nav {
    display: flex;
  }
}
.columns__ywIPq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 50px;
}
.columns__ywIPq > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 414px) {
  .columns__ywIPq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 768px) {
  .columns__ywIPq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__ywIPq > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__ywIPq > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__iGdGa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__cywMm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
}
.img__cywMm > picture > img {
  object-fit: cover;
}
.img__cywMm > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__muJec {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__atZwt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: right;
  font-size: 17px;
  min-width: 0;
}
.headline {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 1050px;
  margin-right: 0px;
  min-width: 0;
  padding: 50px 0px 50px 8px;
}
.text__ki0GD {
  position: relative;
  width: 100%;
  height: auto;
  font-size: 60px;
  font-weight: 700;
  color: #202428;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
}
.button__d9Fyw {
  position: relative;
  width: 357px;
  height: 62px;
  margin-bottom: 30px;
  color: #ffffff;
  background: #f35500;
  font-size: 21px;
  font-weight: 700;
  flex-shrink: 0;
  border-radius: 12px;
}
.text__oZeKr {
  position: relative;
  width: 100%;
  height: auto;
  color: #000000;
  font-size: 38px;
  text-align: center;
  margin-bottom: 30px;
  min-width: 0;
}
.reviews__sgk6L:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.columns__lFrp {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  display: none;
  padding: 0px;
}
.columns__lFrp > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__lFrp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__lFrp > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__lFrp > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__yyRRv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px 0px 8px 8px;
}
.img___5NeFf {
  position: relative;
  object-fit: contain;
  width: 123px;
  height: 19px;
  flex-shrink: 0;
}
.img___5NeFf > picture > img {
  object-fit: contain;
}
.img___5NeFf > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
.column__qC36R {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text___9TczD {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #626262;
  font-size: 18px;
  min-width: 0;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__lnOtL {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 0px;
}
.columns__lnOtL > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns__lnOtL {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns__lnOtL > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 768px) {
  .columns__lnOtL > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.article {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.articleBody {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 861px;
  height: auto;
  align-self: flex-start;
  background: #ffffff;
  margin-left: 70px;
  left: auto;
  top: auto;
  margin-bottom: 50px;
  border-radius: 12px;
  padding: 30px 50px 0px;
}
.asFeaturedIn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-bottom: 30px;
  flex-shrink: 0;
}
.img__pbSnv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.img__pbSnv > picture > img {
  object-fit: cover;
}
.img__pbSnv > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___0YjHs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  margin-top: 30px;
  min-width: 0;
}
.link {
  position: relative;
  margin-top: 30px;
  display: flex;
}
.img__nB92O {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  min-width: 0;
  border-radius: 12px;
}
.img__nB92O > picture > img {
  object-fit: cover;
}
.img__nB92O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__nymoJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img___9Ghr6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img___9Ghr6 > picture > img {
  object-fit: cover;
}
.img___9Ghr6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__absNb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__zvm3O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__zvm3O > picture > img {
  object-fit: cover;
}
.img__zvm3O > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__erQvL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__etqzg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__etqzg > picture > img {
  object-fit: cover;
}
.img__etqzg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__g7NMp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  padding-left: 0px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.ul___4PQlt {
  display: flex;
  flex-direction: column;
}
.ul__awDcF {
  display: flex;
  flex-direction: column;
}
.ul___5Entc {
  display: flex;
  flex-direction: column;
}
.img__uzsrK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__uzsrK > picture > img {
  object-fit: cover;
}
.img__uzsrK > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__phYtG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__vgTtZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  min-width: 0;
  margin: 30px 0px 0px;
}
.img__ihey6 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__ihey6 > picture > img {
  object-fit: cover;
}
.img__ihey6 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text__jswEd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.text___5Ac6O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 21px;
  text-align: center;
  min-width: 0;
  margin: 30px 0px 0px;
}
.columns___0O9X5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  min-width: 0;
  padding: 0px;
}
.columns___0O9X5 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 768px) {
  .columns___0O9X5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 0;
  }
}
@media (min-width: 768px) {
  .columns___0O9X5 > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns___0O9X5 > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 768px) {
  .columns___0O9X5 > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__g2Ns7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.button__fAqPb {
  position: relative;
  width: 100%;
  height: 62px;
  margin-bottom: 0px;
  color: #ffffff;
  background: #f35500;
  font-size: 18px;
  font-weight: 700;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 12px;
}
.column__j7Czy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__ee8Ch {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ee8Ch > picture > img {
  object-fit: cover;
}
.img__ee8Ch > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__o1Eg3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__tkWrZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.img__k6J4Z {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__k6J4Z > picture > img {
  object-fit: cover;
}
.img__k6J4Z > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__l2JvN {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
  border-radius: 12px;
}
.img__l2JvN > picture > img {
  object-fit: cover;
}
.img__l2JvN > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__gqIPt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 416px;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-right: 70px;
  padding: 0px;
}
.reviewCard__ahD17:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.reviewCard___3L05E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.reviewCard__hcSnz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
.sideCta:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 30px;
}
